
/* =Columns Helpers
-----------------------------------------------------------------------------*/

[cols] { float: left; }
[cols~='1'] { width: 8.33333%; }
[cols~='2'] { width: 16.66667%; }
[cols~='3'] { width: 25%; }
[cols~='4'] { width: 33.33333%; }
[cols~='5'] { width: 41.66667%; }
[cols~='6'] { width: 50%; }
[cols~='7'] { width: 58.33333%; }
[cols~='8'] { width: 66.66667%; }
[cols~='9'] { width: 75%; }
[cols~='10'] { width: 83.33333%; }
[cols~='11'] { width: 91.66667%; }
[cols~='12'] { width: 100%; }


/* =Grid
-----------------------------------------------------------------------------*/
[grid] {
	display: flex;
	flex-flow: wrap;
}
[grid~="2"] > * { width:50% }
[grid~="3"] > * { width:33.333333333% }
[grid~="4"] > * { width:25% }
[grid~="5"] > * { width:20% }
[grid~="6"] > * { width:16.666666667% }
[grid~="7"] > * { width:14.285714286% }
[grid~="8"] > * { width:12.5% }
[grid~="9"] > * { width:11.111111111% }
[grid~="10"] > * { width:10% }
