
/* =Columns Helpers
-----------------------------------------------------------------------------*/

[cols] { float: left; }
[cols~='1'] { width: 8.33333%; }
[cols~='2'] { width: 16.66667%; }
[cols~='3'] { width: 25%; }
[cols~='4'] { width: 33.33333%; }
[cols~='5'] { width: 41.66667%; }
[cols~='6'] { width: 50%; }
[cols~='7'] { width: 58.33333%; }
[cols~='8'] { width: 66.66667%; }
[cols~='9'] { width: 75%; }
[cols~='10'] { width: 83.33333%; }
[cols~='11'] { width: 91.66667%; }
[cols~='12'] { width: 100%; }


/* =Grid
-----------------------------------------------------------------------------*/
[grid] {
	display: flex;
	flex-wrap: wrap;
	margin-left: -2.12765957%;
	width:100%
}
[grid] > * {
	margin-left: 2.12765957%;
	flex: 1;
	/* float:left; */
	/* margin-bottom: 20px */
}
[grid~='2'] > * { width: 47.87234043% }
[grid~='3'] > * { width: 31.17234043% }
[grid~='4'] > * { width: 22.87234043% }
[grid~='5'] > * { width: 17.87234043% }
[grid~='6'] > * { width: 14.47234043% }
[grid~='7'] > * { width: 12.158054716% }
[grid~='8'] > * { width: 10.37234043% }
