/* =Text Helpers
-----------------------------------------------------------------------------*/

/* size */
[text~=small] { font-size: $text-small }
[text~=smaller] { font-size: $text-smaller }
[text~=large], [text~=big] { font-size: $text-big }
[text~=larger], [text~=bigger] { font-size: $text-bigger }
[text~=giant] { font-size: $text-giant }

/* weight */
[text~=normal] { font-weight: normal !important }
[text~=light] { font-weight: 300 !important }
[text~=thin] { font-weight: 100 !important }
[text~='semi-bold'] { font-weight: 500 !important }
[text~=bold] { font-weight: 700 !important }
[text~=bolder] { font-weight: 900 !important }

/* alignment */
[text~=justify] { text-align: justify }
[text~=center] { text-align: center }
[text~=left] { text-align: left !important }
[text~=right] { text-align: right }
[text~=middle] { vertical-align: middle }
[text~=baseline] { vertical-align: baseline }
[text~=sub] { vertical-align: sub }
[text~=super] { vertical-align: super }
[text~=top] { vertical-align: top }
[text~=bottom] { vertical-align: bottom }

/* wrap/space */
[text~='break-all'] { word-break: break-all }
[text~='keep-all'] { word-break: keep-all }
[text~='break-word'] { word-wrap: break-word }
[text~=nowrap] { white-space: nowrap }
[text~=pre] { white-space: pre }
[text~='pre-wrap'] { white-space: pre-wrap }
[text~='pre-line'] { white-space: pre-line }
[text~='indent'] { text-indent: $text-indent }

[text~='line-1'] { line-height: 1 }
[text~='line-1.25'] { line-height: 1.25 }
[text~='line-1.5'] { line-height: 1.5 }
[text~='line-1.75'] { line-height: 1.75 }
[text~='line-2'] { line-height: 2 }

/* display */
[text~=hide] { display: none }


/* variations */
[text~=italic] { font-style: italic }
[text~=upper] { text-transform: uppercase }
[text~=lower] { text-transform: lowercase }
[text~=capitalize] { text-transform: capitalize }
[text~=overline] { text-decoration: overline }
[text~='line-through'] { text-decoration: line-through }
[text~=underline] { text-decoration: underline }
[text~='no-decoration'] { text-decoration: none }
[text~='small-caps'] { text-variant: small-caps }


/* direction */
[text~=rtl] { direction: rtl }
[text~=ltr] { direction: ltr }

/* colors */
[text~=required] {
	font-weight: bold;
	color: $text-danger;
	font-size: 1.1em;
	text-transform: none;
}
[text~=req],
[text~=danger], [text~=error] { color: $text-danger }
[text~=success] { color: $text-success }
[text~=highlight] { background-color: #f7f3e2 }

[text~=navy] { color: $color-navy }
[text~=blue] { color: $color-blue }
[text~=aqua] { color: $color-aqua }
[text~=teal] { color: $color-teal }
[text~=olive] { color: $color-olive }
[text~=green] { color: $color-green }
[text~=lime] { color: $color-lime }
[text~=yellow] { color: $color-yellow }
[text~=orange] { color: $color-orange }
[text~=red] { color: $color-red }
[text~=fuchsia] { color: $color-fuchsia }
[text~=purple] { color: $color-purple }
[text~=maroon] { color: $color-maroon }
[text~=white] { color: $color-white }
[text~=silver] { color: $color-silver }
[text~=gray] { color: $color-gray }
[text~=black] { color: $color-black }

[text~='gray-10'] { color: darken( #ffffff, 10%) }
[text~='gray-20'] { color: darken( #ffffff, 20%) }
[text~='gray-30'] { color: darken( #ffffff, 30%) }
[text~='gray-40'] { color: darken( #ffffff, 40%) }
[text~='gray-50'] { color: darken( #ffffff, 50%) }
[text~='gray-60'] { color: darken( #ffffff, 60%) }
[text~='gray-70'] { color: darken( #ffffff, 70%) }
[text~='gray-80'] { color: darken( #ffffff, 80%) }
[text~='gray-90'] { color: darken( #ffffff, 90%) }

[text~='black-10'] { color: rgba(0, 0, 0, .1) }
[text~='black-20'] { color: rgba(0, 0, 0, .2) }
[text~='black-30'] { color: rgba(0, 0, 0, .3) }
[text~='black-40'] { color: rgba(0, 0, 0, .4) }
[text~='black-50'] { color: rgba(0, 0, 0, .5) }
[text~='black-60'] { color: rgba(0, 0, 0, .6) }
[text~='black-70'] { color: rgba(0, 0, 0, .7) }
[text~='black-80'] { color: rgba(0, 0, 0, .8) }
[text~='black-90'] { color: rgba(0, 0, 0, .9) }

[text~='white-10'] { color: rgba(255, 255, 255, .1) }
[text~='white-20'] { color: rgba(255, 255, 255, .2) }
[text~='white-30'] { color: rgba(255, 255, 255, .3) }
[text~='white-40'] { color: rgba(255, 255, 255, .4) }
[text~='white-50'] { color: rgba(255, 255, 255, .5) }
[text~='white-60'] { color: rgba(255, 255, 255, .6) }
[text~='white-70'] { color: rgba(255, 255, 255, .7) }
[text~='white-80'] { color: rgba(255, 255, 255, .8) }
[text~='white-90'] { color: rgba(255, 255, 255, .9) }
